<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    
  </ion-toolbar>

  

</ion-header>


<ion-content [fullscreen]="true">

  <ion-refresher  slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="foodNum!==0 || eventNum!=0">

  <ion-list>
    <ion-list-header>
      Today's Food Log
    </ion-list-header>

    <ion-item-sliding *ngFor="let food of foods | async" style="margin-top: 20px;">

        <ion-item (click)="openFoodEditModal(food)">
          <ion-avatar slot="start">
            <img [src]="food.food.photo.thumb">
          </ion-avatar>
          <ion-label>
            <h2>{{ food.food.food_name}}</h2>
            <p>At {{food.address}}</p>
          </ion-label>
          <ion-badge color="light" slot="end">{{ convertTimeStampToDate(food.date).getHours()}} : {{convertTimeStampToDate(food.date).getMinutes()}}</ion-badge>
        </ion-item>


      <ion-item-options side="start">
        <ion-item-option color="primary">
          <ion-icon slot="icon-only" ios="share-outline" md="share-sharp"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option expandable color="danger" (click)="deletefood(food.id, food.date)">
          <ion-icon slot="icon-only" ios="trash-outline" md="trash-sharp" ></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

    <ion-item-sliding *ngFor="let event of events | async" style="margin-top: 20px;">
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="code-slash"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{ event.type}}</h2>
          <p>Level {{event.level}}</p>
        </ion-label>
        <ion-badge color="light" slot="end">{{convertTimeStampToDate(event.date).getHours()}} : {{convertTimeStampToDate(event.date).getMinutes()}}</ion-badge>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="primary">
          <ion-icon slot="icon-only" ios="share-outline" md="share-sharp"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option expandable color="danger" (click)="deleteEvent(event.id, event.date)">
          <ion-icon slot="icon-only" ios="trash-outline" md="trash-sharp" ></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-list-header style="margin-bottom: 15px; font-size: 15px;font-weight: 500;">
      Total Calories: <ion-badge color="danger" style="margin-left: 1px;;margin-bottom: 1px;font-size: 14">{{totalCals}}</ion-badge>
    </ion-list-header>

    </ion-list>
  </ion-card>


  <div *ngIf="foodNum==0">
    <img style="display: block; margin: auto; width: 50%; padding-top: 40%;opacity: 95%;" src="../../../../assets/hungry.png" alt=""/>
    <ion-label style="text-align: center;padding-top: 12px;display: block">
      <P>Today's food log is empty</P>
      <p>Feed yourself and the logger!</p>
      {{foods.length}}
    </ion-label>
  </div>
  

  <ion-card>
    <ion-card-content >
      <canvas id = "doughnutChart"></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content >
        <canvas id = "barChart" ></canvas>
    </ion-card-content>
  </ion-card>

  <div class="my-overlay" padding [hidden]="overlayHidden">



  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="clickedFab()">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="light" [routerLink]="['/','logger','text']">
          <ion-icon name="text-outline"></ion-icon>
        </ion-fab-button>
       <ion-fab-button  color="light" [routerLink]="['/','logger','barcode']">
          <ion-icon name="barcode-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light" [routerLink]="['/','logger','voice']">
          <ion-icon name="mic-outline"></ion-icon>
        </ion-fab-button>
        <img class="hint-img" style="margin: auto;" src="../../../../assets/addFood.png" alt=""/>

        <!-- <ion-fab-button  color="light">
          <ion-icon name="camera-outline"></ion-icon>
        </ion-fab-button> -->
      </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button color="light" [routerLink]="['/','eventLogger','event-log-page']">
        <ion-icon name="code-slash"></ion-icon>
      </ion-fab-button>
      <img class="hint-img-tag" src="../../../../assets/addEvent.png" alt=""/>
    </ion-fab-list>
    </ion-fab>

</ion-content>
