<ion-header>
  <ion-toolbar>
    <ion-title>addRecipeToFood</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-card>
  <ion-card-header>
    <h1>{{recipe.food_name}}</h1>
  </ion-card-header>
  
  <ion-card-content>
    <ion-list>
      <ion-item-group *ngFor="let intergredient of intergredients">
        <ion-item>
          <ion-label color="dark">{{intergredient.intergredient.food_name}}</ion-label> 
        </ion-item>
        <ion-item>

          <img style="display: block; margin: auto" [src]="intergredient.intergredient.photo.thumb" alt=""/>
          <p slot="end">Amount </p>
          <ion-badge color="primary" slot="end">{{intergredient.amount}}</ion-badge>
          
        </ion-item>
    </ion-item-group>
    </ion-list>
    <!-- <ion-range  [(ngModel)]="amount"  min="0.5" max="5.0" step="0.5" color="secondary">
      <ion-label slot="start" size="small"> Amount</ion-label>
    </ion-range> -->
  </ion-card-content>
</ion-card>
<ion-button class="add-btn"  (click)="addRecipeToFood(recipe)" expand="block" full >Add</ion-button>

<ion-content>

</ion-content>
