<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>

    <!--
    <ion-tab-button tab="graph">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Analysis</ion-label>
    </ion-tab-button>
  -->
  </ion-tab-bar>

</ion-tabs>
