ion-range{
  padding-top: 0;
  padding-bottom: 5px;
}
ion-card div img{

  width: auto;
  height: 180px;
  object-fit: contain;
}
.img_wrp {
  background-image: linear-gradient(to right, rgb(250, 250, 245),white,white,white,white,white ,rgb(250, 250, 245));
  display: inline-block;
  position: relative;
  width: 100%;
  height: 180px;
}
.new_photo {
  position: absolute;
  top: 0;
  right: 0;
}
