<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/logger/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="padding-left: 5px">Log an event</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select  [(ngModel)]="type" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="Stress">Stress</ion-select-option>
        <ion-select-option value="Acid Reflux">Acid Reflux</ion-select-option>
        <ion-select-option value="Sleep">Sleep</ion-select-option>
        <ion-select-option value="Mood">Exercise</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-range #levelSlider [(ngModel)]="level"  snaps={true} min="0.0" max="5.0" step="1" color="secondary">
    <ion-label slot="start" size="small"> Level</ion-label>
    <ion-label slot="end" size="small">{{levelSlider.value}}</ion-label>
  </ion-range>

  <ion-list>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime [(ngModel)]="date" display-format="DD, MMMM, YY" picker-format="DD, MMMM, YY"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime [(ngModel)]="date" display-format="h:mm A" picker-format="h:mm A"></ion-datetime>
    </ion-item>
  </ion-list>

  <ion-card-content>
    <ion-button (click)="logEvent()" expand="block" full>Add</ion-button>
  </ion-card-content>
</ion-content>
