<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" clearOnEdit="true" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-button (click)="onSubmit()">
          <ion-label>Login</ion-label>
        </ion-button>
        <a routerLink="/auth/register">Register</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
          <a routerLink="/auth/reset-password">Forget Password</a>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="GoogleAuth()" color="danger">
          <ion-icon slot="start" name="logo-google"></ion-icon>
          LogIn with Google
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
    
  
</ion-content>
