<ng-template #rt let-r="result" let-t="term">
  <img [src]="r['photo']['thumb']" class="mr-1" style="width: 45px">
  <ngb-highlight [result]="r.food_name" [term]="t"></ngb-highlight>
</ng-template>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/logger/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="padding-left: 5px">Log using text</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="width: 94%;left:3%;">
        <ion-list>
          <ion-item *ngFor="let item of outdata">
            <div class="img_wrp">
              <img style="display: block; margin: auto" [src]="item.photo.thumb" alt=""/>
              <p>{{item.food_name}}</p>
            </div>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-label>Food Name</ion-label>
        </ion-item>
        <div class="form-group">

            <input (selectItem)="selectedItem($event)" [(ngModel)]="inputVar" placeholder="Search" id="typeahead-template" type="text" class="form-control" [ngbTypeahead]="search"
                   [resultTemplate]="rt" [inputFormatter]="formatter"/>
            <input [(ngModel)]="inputVar"/>
                 

        </div>
        <p>{{ inputVar }}</p>


      <ion-button (click)="next()" expand="block" full>Next</ion-button>
<!--
    <ion-list>
        <ion-item>
            <ion-label>Type</ion-label>
            <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="stress">Stress</ion-select-option>
                <ion-select-option value="acid">Acid Reflux</ion-select-option>
                <ion-select-option value="fatigue">Fatigue</ion-select-option>
                <ion-select-option value="mood">Mood</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>
-->
</ion-content>


