<ng-template #rt let-r="result" let-t="term">
  <img [src]="r['photo']['thumb']" class="mr-1" style="width: 45px">
  <ngb-highlight [result]="r.food_name" [term]="t"></ngb-highlight>
</ng-template>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/logger/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="padding-left: 5px">Log using text</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div style="margin-top: 4px;padding:0px 20px 0px 20px;">
        <ion-item style=" border-radius: 15px 15px 0 0;">
            <ion-label *ngIf="outdata.length==0">Add Food Item</ion-label>
            <ion-label  *ngIf="outdata.length!=0">Add more items</ion-label>
        </ion-item>
        <div class="form-group">

            <input #searchInput (selectItem)="selectedItem($event)" [(ngModel)]="inputVar" placeholder="Search Food" id="typeahead-template" type="text" class="form-control" [ngbTypeahead]="search"
                   [resultTemplate]="rt" [inputFormatter]="formatter"/>


        </div>


    </div>
    <div style="margin-top: 4px;">
        <ion-list>
            <ion-item *ngIf="outdata.length!=0"> Added Items </ion-item>
          <ion-item *ngFor="let item of outdata">
            <div class="img_wrp">
                <ion-avatar slot="start">
              <img style="display: block; margin: auto" [src]="item.photo.thumb" alt=""/>
                </ion-avatar>
                <ion-label slot="end" style="text-align: center">
                    <h2>{{item.food_name}}</h2>
                </ion-label>

            </div>
              <ion-button id="F" size="default" slot="end" color="light" style="opacity: 80%" >Health: <ion-icon slot="end" name="{{item.ratingEmoji}}" style="color:{{item.ratingColor}};"></ion-icon> </ion-button>

          </ion-item>
        </ion-list>
        <ion-button *ngIf="outdata.length!=0" (click)="next()" expand="block" full>Continue</ion-button>
    </div>

    <!--
         <ion-list>
          <ion-item *ngFor="let item of outdata">
            <div class="img_wrp">
                <ion-avatar slot="start">
              <img style="display: block; margin: auto" [src]="item.photo.thumb" alt=""/>
                </ion-avatar>
                <ion-label slot="end">
                    <h2>{{item.food_name}}</h2>
                </ion-label>

            </div>
              <ion-badge id="F" slot="end" color="danger" style="margin-left: 1px;;margin-bottom: 1px;font-size: 14;margin-inline: 2px">F:{{12}}</ion-badge>
              <ion-badge id="P" slot="end" color="danger" style="margin-left: 1px;;margin-bottom: 1px;font-size: 14;margin-inline: 2px">P:{{12}}</ion-badge>
              <ion-badge id="C" slot="end" color="danger" style="margin-left: 1px;;margin-bottom: 1px;font-size: 14;margin-inline: 2px">C:{{12}}</ion-badge>
              <ion-badge id="S" slot="end" color="danger" style="margin-left: 1px;;margin-bottom: 1px;font-size: 14;margin-inline: 2px">S:{{12}}</ion-badge>
              <ion-badge id="Cal" slot="end" color="danger" style="margin-left: 1px;;margin-bottom: 1px;font-size: 14;margin-inline: 2px">Cal:{{12}}</ion-badge>
          </ion-item>
        </ion-list>
    -->
<!--
    <ion-list>
        <ion-item>
            <ion-label>Type</ion-label>
            <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="stress">Stress</ion-select-option>
                <ion-select-option value="acid">Acid Reflux</ion-select-option>
                <ion-select-option value="fatigue">Fatigue</ion-select-option>
                <ion-select-option value="mood">Mood</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>
-->
</ion-content>


